{% extends 'compareApp/layouts/base.html' %}

{% load static %}

{% block content %}

      <div  class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>EV vs IC Engine Dashboard</h2>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <h2>Cost Break Down for Ice</h2>
                     <embed type="text/html" src="cost_break_pie_ice.html" width="600" height="600">
                        </div>
                        <div class="col-sm-6">
                           <h2>Cost Break Down for EV</h2>
                           <embed type="text/html" src="cost_break_pie_ev.html" width="600" height="600">
                              </div>
                        
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <h1>Map </h1>
                           <embed type="text/html" src="map.html" width="1000" height="600">
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <h1>Trends in Operating Cost</h1>
                           <embed type="text/html" src="ice_vs_ev_operating.html" width="1000" height="600">
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <h2>Different Costs Comparison ICE VS EV</h2>
                           <embed type="text/html" src="costs_compare_bar.html" width="1200" height="800">
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <h2>Cost of Ownership Mechanism</h2>
                           <embed type="text/html" src="ownership_cost_compare.html" width="1200" height="600">
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <h2>EV Vehicle Efficiency Reduction</h2>
                           <embed type="text/html" src="ev_efficiency_reduction.html" width="1200" height="800">
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <h2>CO2 Emmission standards for different kind of Vehicles</h2>
                           <embed type="image" src="images/carbon-emission.jpeg" width="1200" height="800">
                     </div>
                        </div>
                        </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      
      <!--  footer -->
      <footer id="contact">
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                     <div class="titlepage">
                        <h2>Contact Us</h2>
                     </div>
                  </div>
                  <div class="col-md-8">
                     <ul class="location_icon">
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a> Locatins</li>
                        <li><a href="#"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a> +71 9087654321</li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>demo@gmail.com</li>
                     </ul>
                  </div>
                  <div class="col-md-6">
                     <form id="request" class="main_form">
                        <div class="row">
                           <div class="col-md-12 ">
                              <input class="contactus" placeholder="Full Name" type="type" name="Full Name"> 
                           </div>
                           <div class="col-md-12">
                              <input class="contactus" placeholder="Email" type="type" name="Email"> 
                           </div>
                           <div class="col-md-12">
                              <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">                          
                           </div>
                           <div class="col-md-12">
                              <textarea class="textarea" placeholder="Message" type="type" Message="Name">Message </textarea>
                           </div>
                           <div class="col-sm-col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <button class="send_btn">Send</button>
                           </div>
                           <div class="col-sm-col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <ul class="social_icon">
                                 <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="col-md-6">
                     <div class="map">
                        <figure><img src="images/map.jpg" alt="#"/></figure>
                     </div>
                     <form class="bottom_form">
                        <h3>Newsletter</h3>
                        <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                        <button class="sub_btn">subscribe</button>
                     </form>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>Copyright 2019 All Right Reserved By <a href="https://html.design/"> Free  html Templates</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>

{% endblock content %}


{% block scripts %}
    </div>

{% endblock 'scripts' %}
</div>