<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_af5172907a77da2dde6fa7239f83c367 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_af5172907a77da2dde6fa7239f83c367" ></div>
        
</body>
<script>
    
    
            var map_af5172907a77da2dde6fa7239f83c367 = L.map(
                "map_af5172907a77da2dde6fa7239f83c367",
                {
                    center: [28.63806725, 77.364479473296],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6021a10c2beadfe0c316891d2180809d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_af5172907a77da2dde6fa7239f83c367);
        
    
            var marker_d01cfdb7f929f0f9ef57d320dcf978dd = L.marker(
                [28.63806725, 77.364479473296],
                {}
            ).addTo(map_af5172907a77da2dde6fa7239f83c367);
        
    
        var popup_c3c1abcdf502442ee0f5bb33ce411ed0 = L.popup({"maxWidth": "100%"});

        
            var html_ef2ff3eb85b3575893509f608bf26aa7 = $(`<div id="html_ef2ff3eb85b3575893509f608bf26aa7" style="width: 100.0%; height: 100.0%;">Default popup Marker1</div>`)[0];
            popup_c3c1abcdf502442ee0f5bb33ce411ed0.setContent(html_ef2ff3eb85b3575893509f608bf26aa7);
        

        marker_d01cfdb7f929f0f9ef57d320dcf978dd.bindPopup(popup_c3c1abcdf502442ee0f5bb33ce411ed0)
        ;

        
    
    
            marker_d01cfdb7f929f0f9ef57d320dcf978dd.bindTooltip(
                `<div>
                     Click here to see Popup
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dc56e9521f9f7a1f473af8b342295656 = L.marker(
                [28.6558, 77.274721],
                {}
            ).addTo(map_af5172907a77da2dde6fa7239f83c367);
        
    
        var popup_e92c015d52b52a14c7b9ba44a68f9531 = L.popup({"maxWidth": "100%"});

        
            var html_3df52be68d7aa151f71cbcf168465821 = $(`<div id="html_3df52be68d7aa151f71cbcf168465821" style="width: 100.0%; height: 100.0%;">Default popup Marker1</div>`)[0];
            popup_e92c015d52b52a14c7b9ba44a68f9531.setContent(html_3df52be68d7aa151f71cbcf168465821);
        

        marker_dc56e9521f9f7a1f473af8b342295656.bindPopup(popup_e92c015d52b52a14c7b9ba44a68f9531)
        ;

        
    
    
            marker_dc56e9521f9f7a1f473af8b342295656.bindTooltip(
                `<div>
                     Click here to see Popup
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>